@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    background: rgb(249, 226, 229);
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3em;
    color: rgb(8, 86, 86);
    pointer-events: none;
    margin-right: 270px;

}

.navigation a{
    text-decoration: none;
    color: rgb(115, 115, 115);
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
    font-size: 1.5em;
}

.navigation a:hover, .navigation a.active{
    background: rgb(8, 86, 86);
    color: aliceblue;
}

.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text{
    position: absolute;
    font-size: 5em;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec{
    position: relative;
    background-color:#003329;
    padding: 100px;
    margin-top: 50px;
}

.sec h2{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

